*{
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    background-color: rgb(32, 22, 22); 
    position: sticky;
    top: 0;  
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    background-color: rgb(45, 40, 40);
}
.logo img{
    width: 85px;
    padding: 0 20px;   
}
nav ul{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}
nav ul li{
    list-style: none;
    padding: 0 20px;        
}
.child2{
    background-color: rgb(45, 40, 40);
    width: 710px;
    height: 50px;   
}
.child{
    height: 50px;
    width: 70px;
    background-color: rgb(44, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
}
.child1{
    height: 50px;
    width: 50px;
    background-color: rgb(45, 43, 43);
    border: 0.2px solid rgb(90, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
     
}
nav ul li a{
    color: white;
    text-decoration: none;    
}
.position{    
   background-color: rgb(16, 34, 50); 
   height: 50px;  
}
.position span p a{
    text-decoration: none;
    color: white;
    margin-left: 80px;
}
.position2{
    height: 50px;
    background-color: white;
    display: flex;
}
.position2 div img{   
    height: 42px;
    margin-left: 70px;   
}
.position2 ul li a{
    color: black;
    display: flex;
    list-style: none;
}
.space{
    width: 225px;
}
.position3{
    margin: 0;
    width: 898px;
}
.position3 div img{
    margin: 0;
    background-size: cover;
    width: 1210px;
}
.position4{
    margin: 0;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(236, 165, 136);
    gap: 30px;
}
.position4  ul li img{
    margin: 0;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   padding-left: 90px;
   padding-top: 50px;
}
.position4  ul li h2{
    display: flex;
    margin: 40px;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    margin-left: 100px;
}
.position4  ul li p{
    width: 400px;
    margin-left: 100px;
}
.position4 ul li a{
    text-decoration: underline;
    color: rgb(1, 86, 133);
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;
}
.footer p{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
}
